<?python
  from datetime import datetime
  timestamp = datetime.now().strftime("%Y/%m/%d %H:%M:%S")
?>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Unexpected Error</title>
</head>
<body>

<div id="content">
	<h1>Unexpected Error</h1>

	<p>Unexpected error has occurred.</p>
	<div id="error">
		<div style="margin-bottom: 5px">Error encountered ${timestamp}</div>
		<div>${Markup(error)}</div>
	</div>

</div>
</body>
</html>
